/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}
.logo-left {
    position: absolute;
    top: 2px; 
    left: 2px; 
    width: 50px; 
    height: auto;
    margin-right: 10px;
}
.logo-right{
    position: absolute;
    top: 2px; 
    right: 5px; 
    width: 50px; 
    height: auto;
    margin-left: 10px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.title-and-search {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer horizontalement */
}

.title-and-search h1 {
    margin-right: 60px; /* Marge entre le titre et le formulaire */
}

.formulaire {
    display: flex;
    align-items: center;
  /*  margin-right: -50px;  Marge entre le champ de recherche et le logo */
    
}
.formulaire button {
    display:flex;
}




/* Styles pour le main et le footer (à ajouter) */
body {
    background-image: url('Fond.png');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    flex: 1;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}
.logo-footer-left {
    position: absolute;
    bottom: 1px; 
    left: 1px; 
    width: 2em; 
    height: 100%;
    margin-right: 10px;
}
.social-icons {
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.social-icons a {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
}
.social-icons a:first-child {
    margin-left: 0;
}

/* Ajoutez vos styles CSS ici */
.container {
    display: flex;
    justify-content: space-between; 
}

.table-container {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

/* Ajoutez d'autres styles au besoin */

.Division {
    padding: 20px;
    text-align: center;
}

.league-logo {
    display: inline-block;
    vertical-align: middle;
    width: 50px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
    margin-right: 10px;
}

.bundesliga {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
