.acceuil{
    background-image: url('Fond.png');
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.messafond{
    background-image: url('images.jpeg');
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;
}

.forminsc{
    background-image: url('FondForm.jpg');
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

#ligue1{
    background-image: url('ligue1.jpeg');
    height: 100%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

a {
    color: black;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(153, 133, 109);
    padding: 5px 10px;
    display: inline-block;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: black;
    text-decoration: none;
    border-color: black;
}

.logo-link img {
    width: 50px;   /* Spécifiez la largeur souhaitée en pixels */
    height: 50px;   /* Spécifiez la hauteur souhaitée en pixels */
}

#liga{
    background-image: url('laliga.jpeg');
    height: 70%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

#serieA{
    background-image: url('serieA.jpeg');
    height: 70%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    background-color: rgb(204, 204, 204, 0.9);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    border: 3px solid black;
}

.logo img {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
}

.titre-site {
    margin: 0; 
    text-align: center; 
}

.loupe-logo{
    width: 8%;
}

.championnats {
    background-color: rgba(204, 204, 204, 0.5);
    display: flex; 
    justify-content: space-around;
    align-items: center; 
}

.championnats span {
    margin: 20px 10px;
    font-weight: bold; 
}


.Connexion {
    width: 20%;
    background-color: rgb(172, 169, 169);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    padding: 33px;
}

.Connexion input[type="text"],
.Connexion input[type="password"],
.Connexion input[type="submit"],
.Connexion a {
    width: 40%;
    margin-bottom: 5px;
    padding: 8px;
    box-sizing: border-box;
    color: blue;
}


.titrechamp{
    text-align: center;
}

.search-bar {
    margin-top: -35px;
    margin-left: 56%;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 

.search-bar input[type="text"]::placeholder {
    color: #999;
}

.mdpoublie{
    font-size: 20px;
    width: 50%;
    margin: 30px;
    padding: 3%;
    margin-top: 39px;
}

#registrationForm {
    width: 50%;
    margin: 20px;
    padding: 1%;
    margin-top: 20px;
    border: 2px solid #0c0a01;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.45); 
}

#registrationForm form.val {
    background-color: #98822f;
    width: 80px;
    margin: 20px 20px;
    padding: 10;
    border: 2px solid black;
}


#registrationForm input[type=text],
#registrationForm input[type=password],
#registrationForm textarea {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    font-weight: bold;
}



#submitButton {
    padding: 10px 12px;
    margin: 5px 0;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 16%;
}

#submitButton:hover {
    padding: 10px 12px;
    margin: 5px 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}



#logdis {
    float: right;
    width: 200px;
    display: block; 
    margin-right: 12%; 
    margin-top: -10%;
    image-rendering: auto;
}

#messageContainer {
    width: 60%; 
    border: 2px solid #ddd; 
    padding: 10px; 
    background-color: #fff; 
    max-height: 500px; 
    overflow-y: auto; 
}

#messageForm {
    margin-bottom: 15px; 
}

#messageForm textarea {
    width: 100%;
    margin-bottom: 10px; 
}

section {
    border-top: 2px solid #ddd; 
    padding-top: 10px; 
}

section p {
    margin-bottom: 10px; 
}


.rendrelisible {
    Border: 3px solid black;
    padding: 8;
    background-color: rgba(255, 255, 255, 0.75);
    width: 70%;
    height: 670px;
    margin-left: 20px;
}