.acceuil{
    background-image: url('Fond.png');
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

#ligue1{
    background-image: url('ligue1.jpeg');
    height: 100%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

a {
    color: black;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(153, 133, 109);
    padding: 5px 10px;
    display: inline-block;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: black;
    text-decoration: none;
    border-color: black;
}

.logo-link img {
    width: 50px;   /* Spécifiez la largeur souhaitée en pixels */
    height: 50px;   /* Spécifiez la hauteur souhaitée en pixels */
}

#liga{
    background-image: url('laliga.jpeg');
    height: 70%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

#serieA{
    background-image: url('serieA.jpeg');
    height: 70%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    background-color: rgb(204, 204, 204, 0.9);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    border: 3px solid black;
}

.logo img {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
}

.titre-site {
    margin: 0; 
    text-align: center; 
}

.championnats {
    background-color: rgba(204, 204, 204, 0.5);
    display: flex; 
    justify-content: space-around;
    align-items: center; 
}

.championnats span {
    margin: 20px 10px;
    font-weight: bold; 
}


.Connexion {
    background-color: rgb(172, 169, 169);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    max-width: 300px;
    width: 100%;
}

.Connexion input[type="text"],
.Connexion input[type="password"],
.Connexion input[type="submit"],
.Connexion a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    text-decoration: none;
    color: blue;
}


.titrechamp{
    text-align: center;
}

.search-bar {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
.search-bar button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.search-bar input[type="text"]::placeholder {
    color: #999;
}

#registrationForm {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #0c0a01;
    background-color: rgba(255, 255, 255, 0.45);
}

#registrationForm form.val {
    background-color: #98822f;
    width: 80px;
    /* Augmentez la largeur selon vos besoins */
    margin: auto auto;
    /* Centrer le formulaire */
    padding: 0;
    border: 2px solid black;
    position: relative;
}


#registrationForm input[type=text],
#registrationForm input[type=password],
#registrationForm textarea {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    font-weight: bold;
}


#submitButton {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#submitButton:hover {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: white;
    color: black;
    border: 1px solid black;
}